***SAMSUNG DIALOGUE CHATBOT***

In [7]:

import nltk
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# import spacy
lemmatizer = nltk.stem.WordNetLemmatizer()

In [8]:
data = pd.read_csv('Samsung Dialog.txt', sep = ':', header = None)
data.head()

             0                                                  1
0     Customer   Hi, I'm looking to buy a new phone, and I'm i...
1  Sales Agent   Great, we have a wide range of Samsung phones...
2     Customer   Well, I want a phone with a good camera, long...
3  Sales Agent   Absolutely. We have a lot of great options th...
4     Customer              No, I haven't. Tell me more about it.

In [9]:
cust = data.loc[data[0] == 'Customer']
sales = data.loc[data[0] == 'Sales Agent']

sales.head()

             0                                                  1
1  Sales Agent   Great, we have a wide range of Samsung phones...
3  Sales Agent   Absolutely. We have a lot of great options th...
5  Sales Agent   The Galaxy S21 Ultra has a 108-megapixel came...
7  Sales Agent   The Galaxy S21 Ultra starts at $1,199, but we...
9  Sales Agent   The Galaxy S21 Ultra comes with a standard on...

In [10]:
df = pd.DataFrame()

df['Questions'] = cust[1].reset_index(drop = True)
df['Answer'] = sales[1].reset_index(drop = True)

df

,Questions,Answer
0,"Hi, I'm looking to buy a new phone, and I'm i...","Great, we have a wide range of Samsung phones..."
1,"Well, I want a phone with a good camera, long...",Absolutely. We have a lot of great options th...
2,"No, I haven't. Tell me more about it.",The Galaxy S21 Ultra has a 108-megapixel came...
3,That sounds great. How much does it cost?,"The Galaxy S21 Ultra starts at $1,199, but we..."
4,"Okay, I'm interested. But I have a few more q...",The Galaxy S21 Ultra comes with a standard on...
5,That's good to know. And what about the opera...,"Yes, the Galaxy S21 Ultra runs on Android 11,..."
6,"Okay, that's good. But I'm also interested in...",Absolutely. The Galaxy A52 is a great mid-ran...
7,That sounds like a good option for me. How mu...,"The Galaxy A52 starts at $399, but again, we ..."
8,"Okay, I'll think about it. But can you also t...",Of course. The Galaxy Z Fold2 is a really uni...
9,"That sounds really cool, but it also sounds e...","The Galaxy Z Fold2 starts at $1,999, but agai..."
10,"Hmm, I'm not sure. That's a lot of money for ...",I understand. The Galaxy Z Fold2 is definitel...
11,"Okay, can you tell me more about the Galaxy A72?","Sure, the Galaxy A72 is another great mid-ran..."
12,That sounds like a great option for me. How m...,"The Galaxy A72 starts at $449, but as I menti..."
13,"Okay, I'll definitely consider it. But before...",Of course. We have a few different financing ...
14,That's good to know. And what if I have issue...,"Yes, we offer a lot of support options for ou..."
15,"Okay, that sounds great. I think I'm interest...","Great, I'm glad to hear that. To buy the phon..."
16,"Okay, that sounds simple enough. Thanks for a...",You're welcome. If you have any other questio...

In [11]:

# Define a function for text preprocessing (including lemmatization)
def preprocess_text(text):
    # Identifies all sentences in the data
    sentences = nltk.sent_tokenize(text)

    # Tokenize and lemmatize each word in each sentence
    preprocessed_sentences = []
    for sentence in sentences:
        tokens = [lemmatizer.lemmatize(word.lower()) for word in nltk.word_tokenize(sentence) if word.isalnum()]
        # Turns to basic root - each word in the tokenized word found in the tokenized sentence - if they are all alphanumeric
        # The code above does the following:
        # Identifies every word in the sentence
        # Turns it to a lower case
        # Lemmatizes it if the word is alphanumeric

        preprocessed_sentence = ' '.join(tokens)
        preprocessed_sentences.append(preprocessed_sentence)

    return ' '.join(preprocessed_sentences)


df['tokenized Questions'] = df['Questions'].apply(preprocess_text)
df.head()

,Questions,Answer,tokenized Questions
0,"Hi, I'm looking to buy a new phone, and I'm i...","Great, we have a wide range of Samsung phones...",hi i looking to buy a new phone and i interest...
1,"Well, I want a phone with a good camera, long...",Absolutely. We have a lot of great options th...,well i want a phone with a good camera long ba...
2,"No, I haven't. Tell me more about it.",The Galaxy S21 Ultra has a 108-megapixel came...,no i have tell me more about it
3,That sounds great. How much does it cost?,"The Galaxy S21 Ultra starts at $1,199, but we...",that sound great how much doe it cost
4,"Okay, I'm interested. But I have a few more q...",The Galaxy S21 Ultra comes with a standard on...,okay i interested but i have a few more questi...

In [12]:
corpus = df['tokenized Questions'].to_list()
corpus

['hi i looking to buy a new phone and i interested in samsung phone',
 'well i want a phone with a good camera long battery life and plenty of storage',
 'no i have tell me more about it',
 'that sound great how much doe it cost',
 'okay i interested but i have a few more question what kind of warranty come with the phone',
 'that good to know and what about the operating system doe it come with the latest version of android',
 'okay that good but i also interested in some of the other samsung phone can you tell me more about the galaxy a52',
 'that sound like a good option for me how much doe it cost',
 'okay i think about it but can you also tell me about the galaxy z fold2 i heard a lot about it and i curious',
 'that sound really cool but it also sound expensive how much doe it cost',
 'hmm i not sure that a lot of money for a phone',
 'okay can you tell me more about the galaxy a72',
 'that sound like a great option for me how much doe it cost',
 'okay i definitely consider it but before i make a decision can you tell me more about the financing option',
 'that good to know and what if i have issue with the phone do you offer any support',
 'okay that sound great i think i interested in the galaxy a72 how do i go about buying it',
 'okay that sound simple enough thanks for all your help']

In [13]:
# Vectorize corpus
tfidf_vectorizer = TfidfVectorizer()

vectorised_corpus = tfidf_vectorizer.fit_transform(corpus)
# TDIDF is a numerical statistic used to evaluate how important a word is to a document in a collection or corpus.
# The TfidfVectorizer calculates the Tfidf values for each word in the corpus and uses them to create a matrix where each row represents a document and each column represents a word.
# The cell values in the matrix correspond to the importance of each word in each document.
print(vectorised_corpus)

  (0, 71)	0.3011232459093611
  (0, 41)	0.2700934382194581
  (0, 42)	0.2460248494975018
  (0, 5)	0.22635938061087743
  (0, 67)	0.4194649271573511
  (0, 58)	0.34485730351794186
  (0, 11)	0.34485730351794186
  (0, 84)	0.2700934382194581
  (0, 51)	0.34485730351794186
  (0, 37)	0.34485730351794186
  (1, 75)	0.3135527535104317
  (1, 61)	0.2058115236343365
  (1, 68)	0.3135527535104317
  (1, 48)	0.3135527535104317
  (1, 8)	0.3135527535104317
  (1, 50)	0.3135527535104317
  (1, 13)	0.3135527535104317
  (1, 32)	0.2058115236343365
  (1, 90)	0.22369185226757943
  (1, 86)	0.3135527535104317
  (1, 88)	0.3135527535104317
  (1, 5)	0.2058115236343365
  (1, 67)	0.19069392118064465
  (2, 44)	0.2707901771636704
  (2, 2)	0.30884634876971573
  :	:
  (15, 31)	0.33865461688136433
  (15, 22)	0.2957071705810691
  (15, 1)	0.2957071705810691
  (15, 83)	0.2957071705810691
  (15, 30)	0.2415997872161552
  (15, 82)	0.17934057989570892
  (15, 63)	0.19181632811123442
  (15, 39)	0.22228802619600418
  (15, 33)	0.26523547249629936
  (15, 74)	0.2059601649037593
  (15, 81)	0.15808525176743862
  (15, 44)	0.16818064283109027
  (15, 2)	0.19181632811123442
  (15, 41)	0.26523547249629936
  (15, 42)	0.2415997872161552
  (16, 36)	0.36717216957958065
  (16, 92)	0.36717216957958065
  (16, 3)	0.36717216957958065
  (16, 80)	0.36717216957958065
  (16, 24)	0.36717216957958065
  (16, 72)	0.36717216957958065
  (16, 29)	0.2619445110745285
  (16, 63)	0.20796886811102647
  (16, 74)	0.22330373432107467
  (16, 81)	0.17139735286797675

In [14]:
def get_response(user_input):
    user_input_processed = preprocess_text(user_input) # ....................... Preprocess the user's input using the preprocess_text function

    user_input_vector = tfidf_vectorizer.transform([user_input_processed])# .... Vectorize the preprocessed user input using the TF-IDF vectorizer

    similarity_scores = cosine_similarity(user_input_vector, vectorised_corpus) # .. Calculate the score of similarity between the user input vector and the corpus (df) vector

    most_similar_index = similarity_scores.argmax() # ..... Find the index of the most similar question in the corpus (df) based on cosine similarity

    return df['Answer'].iloc[most_similar_index] # ... Retrieve the corresponding answer from the df DataFrame and return it as the chatbot's response


# create greeting list
greetings = ["Hey There.... I am a creation of Sapphire the Code_girl.... How can I help",
            "Hi Human.... How can I help",
            'Twale baba nla, wetin dey happen nah',
            'How far Alaye, wetin happen'
            "Good Day .... How can I help",
            "Hello There... How can I be useful to you today",
            "Hi Student.... How can I be of use"]

exits = ['thanks bye', 'bye', 'quit', 'exit', 'bye bye', 'close']
farewell = ['Thanks....see you soon', 'Babye, See you soon', 'Bye... See you later', 'Bye... come back soon']

random_farewell = random.choice(farewell) # ---------------- Randomly select a farewell message from the list
random_greetings = random.choice(greetings) # -------- Randomly select greeting message from the list

# Test your chatbot
while True:
    user_input = input("You: ")
    if user_input.lower() in exits:
        print(f"\nChatbot: {random_farewell}!")
        break
    if user_input.lower() in ['hi', 'hello', 'hey', 'hi there']:
        print(f"\nChatbot: {random_greetings}!")
    else:
        response = get_response(user_input)
        print(f"\nChatbot: {response}")

Chatbot: Hey There.... I am a creation of Sapphire the Code_girl.... How can I help!

Chatbot: Bye... See you later!